.calendar-main {
    width : 100%;
    margin-top: 2rem;
    background-color: white;
}

.calendar-container {
    padding: 0 16px;
}

/* changeView */
.calendar-changeView {
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    justify-content: end;
}

.calendar-changeView-title {
    margin: 0 5px 0 3px;
    font-weight: 800;
}

.calendar-changeView-items {
    display: flex;
    border-collapse: collapse;
}

.calendar-changeView-item {
    border: solid 1px #c9c9c9;
    border-right: 0;
}
.calendar-changeView-items:last-child {
    border-right: solid 1px #c9c9c9;
}

.calendar-changeView-item a,
.calendar-changeView-item span {
    padding: 6px 24px;
    display: inline-block;
    text-align: center;
    line-height: 1;
    transition: background-color .3s ease;
}

.calendar-changeView-item span.calendar-changeView-active {
    background-color: #666;
    color: azure;
    user-select: none;
}

.calendar-changeView-item li a:hover {
    background-color: lightblue;
}

/* カレンダー共通 */
.calendar-mainarea {
    padding-top: 10px;
}

.calendar-mainarea a {
    color: #0a62ad;
}

.calendar-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar-navarea {
    width: 100%;
    height: 2rem;
    table-layout: fixed;
}

td:has(.calendar-userselect-form) {
    text-align: left;
}

td:has(.calendar-date-block) {
    text-align: center;
}

.calendar-userselect-form select {
    min-height: 2rem;
    padding: 0 30px 0 4px;
    box-sizing: border-box;
}

.calendar-date-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-move-button span {
    color: #818181;
    vertical-align: bottom;
    transition: background-color .3s ease;
}

.calendar-move-button span:hover {
    background-color: lightblue;
}

.calendar-date {
    font-weight: 800;
    margin: 0 .5rem;
}

.calendar-date a {
    color: currentColor;
}

.calendar-main-calendar {
    width: 100%;
    margin-top: .5rem;
}

/* カレンダー本体 共通 */
.calendar-main-table {
    width: 100%;
    table-layout: fixed;
}

.calendar-main-table th,
.calendar-main-table td {
    border: solid 1px #c9c9c9;
}

.calendar-main-table thead th {
    font-weight: 400;
    text-align: center;
}

.header-sun {
    background-color: #FFF1F2;
    color: red;
}

.header-sat {
    background-color: #E9F6FE;
    color: blue;
}

.schedule-add-button {
    padding: 3px;
    color: #818181;
    font-size: 1rem;
    vertical-align: top;
}

.schedule-add-button:hover {
    border: solid 1px #CCC;
    border-radius: 5px;
}


/* カレンダー本体 月表示 */
.calendar-main-month-calendar .day-today {
    background-color: #FCFAD5;
}

.calendar-main-month-calendar tbody td {
    height: 120px;
}

td:has(.day) {
    padding: 4px;
    vertical-align: top;
}

.day-cell {
    margin-left: .2rem;
    display: flex;
    gap: .5rem;
}

/* カレンダー本体 週・日表示 共通 */
.calendar-main-table-weekday th:first-child,
.calendar-main-table-weekday td:first-child  {
    width: 2rem;
}

.calendar-main-table-weekday {
    border-collapse: collapse;
}

.calendar-main-table-weekday-data td {
    border-top: none;
}

.calendar-weekday-header-cell {
    display: flex;
    justify-content: center;
}

.calendar-weekday-header-cell > .spacer,
.calendar-weekday-header-cell > .day,
.calendar-weekday-header-cell > a {
    flex: 1;
}

.calendar-weekday-header-cell > a {
    text-align: left;
}

.calendar-cell {
    height: 60px;
}

.calendar-cell:not(:first-child) {
    border-top: dashed 1px #c9c9c9;
}

.time-cell {
    text-align: center;
}

/* カレンダー本体 日表示 共通 */
.calendar-weekday-header-cell > a {
    text-align: center;
}