// GoogleFonts
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// 共通
$bg-color: white;
$bg-color-hover : lightblue;
$bg-color-active : #818181;
$text-color-main : black;
$text-color-active : azure;
$text-color-no-data : #999;
$a-text-color : #0a62ad;
$table-border-color: #c9c9c9;
$btn-color-back: #4D4D4D;
$btn-color-edit: #30A7E7;
$btn-color-delete: #D2504D;
$btn-color-save: #88C03C;

* {
    margin: 0;
    padding: 0;
}

body {
    color: $text-color-main;
}

.schedule-main {
    width : 100%;
    margin-top: 2rem;
    padding: 1rem 0 10rem;
    background-color: $bg-color;
    display: flex;
    justify-content: center;
}

.schedule-container {
    padding: 0 16px;
    width: 1020px;
    min-width: 510px;
}

.back-to-calendar-button {
    margin-bottom: .5rem;
    padding: .2rem 1.6rem .2rem .8rem;
    border-radius: 4rem;
    background-color: $btn-color-back;
    color: white;
    display: inline-flex;
    align-items: center;
    
    &:before {
        font-family: "Material Icons";
        content: '\e5e0';
        margin-right: .2rem;
        font-size: .8em;
        line-height: 1;
        vertical-align: middle;
        display: inline-block;
    }

    &:hover,
    &:focus {
        opacity: .8;
    }
}

.schedule {
    &__title {
        font-size: 1.5rem;
        font-weight: 800;
        margin-bottom: .5rem;
    }

    &__detail {
        margin-top: .5rem;
        &__table {
            $border-prop : solid 1px $table-border-color;

            width: 100%;
            border-collapse: collapse;
            text-align: left;
            font-size: 1.2rem;

            tr {
                height: 2em;

                &:last-child {
                    th, td {
                        border-bottom: $border-prop;
                    }
                }
            }
            
            th, td {
                border-top: $border-prop;
            }
            
            th {
                width: 5em;
                border-right: $border-prop;
                font-weight: 400;
            }

            td {
                padding: 0 .5em;
            }
        }

        &__no-data {
            color: $text-color-no-data;
        }
    }

    &__nav {
        margin-top: .5rem;
        display: flex;
        align-items: center;
        gap: .5rem;

        &__button {
            padding: .2rem .5rem;
            color: white;
            border-radius: 3px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: opacity 0.2s;
            
            &:hover,
            &:focus {
                opacity: .8;
            }

            &-edit {
                background-color: $btn-color-edit;
            }

            &-delete {
                background-color: $btn-color-delete;
            }

            &-save {
                background-color: $btn-color-save;
            }
        }

        &__icon {
            font-size: 1.2rem;
        }
    }
}

// editフォーム
.schedule-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    // 共通
    &__main-label {
        font-size: 1.5rem;
    }

    &__label-for-radio {
        display: inline-flex;
        align-items: center;
        gap: .25rem;
        line-height: 1.5;
        cursor: pointer;

        &:not(:last-of-type) {
            margin-right: .6rem;
        }
    }

    // タイトル
    &__title-input {
        width: 100%;
        display: flex;
        gap: .5rem;
    }

    &__category-select {
        width: 10rem;
    }

    &__title-input-text {
        flex: 1;
    }

    // 日時
    &__datetime-datetime {
        margin-top: .3rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        &-start, &-end {
            display: flex;
        }
    }

    // 参加者
    &__participants-select {
        width: 15rem;
    }

    // メモ
    &__memo-textarea {
        resize: none;
        width: 100%;
        height: 200px;
    }
}