// 色
// 共通
$color-accent-gray-dark: #818181;
$color-accent-gray-light: #CCC;
$color-bg-default: white;
$color-bg-hover : lightblue;
$color-bg-active : $color-accent-gray-dark;
$color-text-main : black;
$color-text-active : azure;
$color-table-color: #c9c9c9;
// カレンダー部分共通
$color-link : #0a62ad;
$color-text-sunday : red;
$color-text-saturday : blue;
$color-bg-sunday : #FFF1F2;
$color-bg-saturday : #E9F6FE;
$color-bg-today : #FCFAD5;

// アニメーション
$animation-hover-bg: background-color .3s ease;

// レイアウト
$calendar-cell-height: 60px; // 変更禁止（スケジュールのレンダリングに影響）
$z-schedule-panel: 10;


* {
    margin: 0;
    padding: 0;
}

body {
    color: $color-text-main;
}

.calendar-main {
    width : 100%;
    margin-top: 2rem;
    background-color: $color-bg-default;
}

.calendar-container {
    padding: 0 16px;
    min-width: 1020px;
}

/* change-view */
.calendar {
    &__change-view {
        padding-top: .5rem;
        padding-bottom: .5rem;
        display: flex;
        justify-content: end;
    }

    &__change-view-title {
        margin: 0 5px 0 3px;
        font-weight: 800;
    }

    &__change-view-items {
        display: flex;
        border-collapse: collapse;
    }

    &__change-view-item {
        border: solid 1px $color-table-color;
        border-right: 0;

        &:last-child {
            border-right: solid 1px $color-table-color;
        }

        a,
        span {
        padding: 6px 24px;
        display: inline-block;
        text-align: center;
        line-height: 1;
        transition: $animation-hover-bg;
        }

        a:hover {
        background-color: $color-bg-hover;
        }

        &--active {
            background-color: $color-bg-active;
            color: $color-text-active;
            user-select: none;
        }
    }

    /* カレンダー共通 */
    &__main-area {
        padding-top: 10px;

        a {
            color: $color-link;
        }
    }

    &__contents {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__nav-area {
        width: 100%;
        table-layout: fixed;
        
        td:has(.calendar__userselect-form) {
            text-align: left;
        }

        td:has(.calendar__date-block) {
            text-align: center;
        }

        #participantUserSelect {
            padding: 0 30px 0 4px;
            box-sizing: border-box;
        }
    }

    &__date-block {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    &__move-button {
        span {
            color: $color-accent-gray-dark;
            vertical-align: bottom;
            transition: $animation-hover-bg;

            &:hover {
                background-color: $color-bg-hover;
            }
        }
    }

    &__date {
        margin: 0 .5rem;

        a {
            color: $color-text-main;
            font-weight: 800;
        }
    }

    &__main-calendar {
        width: 100%;
        margin-top: .5rem;
    }

    /* カレンダー本体 共通 */
    &__main-table {
        width: 100%;
        table-layout: fixed;
    
        th,
        td {
            border: solid 1px $color-table-color;
        }

        th {
            font-weight: 400;
            text-align: center;
        }

        .header--sun {
            background-color: $color-bg-sunday;
            color: $color-text-sunday;
        }

        .header--sat{
            background-color: $color-bg-saturday;
            color: $color-text-saturday;
        }
    }
}

.schedule-add-button-block {
    display: inline-flex;
    justify-content: center;
    align-items: center; 

    .schedule-add-button-icon {
        padding: 3px;
        color: $color-accent-gray-dark;
        font-size: 1rem;
        vertical-align: top;

        &:hover {
            border: solid 1px $color-accent-gray-light;
            border-radius: 5px;
        }
    }
}

/* カレンダー本体 月表示 */
.calendar {
    &__main-month-calendar {
        .day--today {
            background-color: $color-bg-today;
        }

        td:has(.day) {
            padding: 4px;
            vertical-align: top;
        }

        .calendar__dateblock {
            height: 1.3rem;
            margin: 0 0 .5rem .2rem;
            display: flex;
            align-items: center;
            gap: .5rem;
        }

        .calendar__schedule-area {
            min-height: 6rem;
            display: flex;
            flex-direction: column;
            gap: .2rem;
        }
    }

    /* カレンダー本体 週・日表示 共通 */
    &__main-table--weekday {
        border-collapse: collapse;

        th:first-child,
        td:first-child  {
            width: 2rem;
        }

        &-data td {
            border-top: none;
            position: relative;
        }

        .schedule-cell {
            position: relative;
        }
    }

    &__weekday-header-cell {
        height: 1.5rem;
        display: flex;
        justify-content: center;

        > div {
            flex: 1;
        }
    }

    &__cell {
        height: $calendar-cell-height; 
        
        &:not(:first-child) {
        border-top: dashed 1px $color-table-color;
        }
    }
}

.time-cell {
    text-align: center;
}

/* カレンダー本体 週表示 */
.calendar__week-header-cell {
    .schedule-add-button-block {
        justify-content: flex-start;
    }
}

// スケジュールパネル
.schedule-panel {
    padding: 0 .3rem;
    z-index: $z-schedule-panel;
    background-color: #3584D2;
    border: solid 1px #355fd2;
    border-radius: 2px;
    line-height: 1.1rem;
    display: flex;
    align-items: flex-start;
    gap: .5rem;
    opacity: .6;
    font-size: .8rem;
    color: white;
    cursor: pointer;
}

.weekday-schedule-panel {
    position: absolute;
}